.radia{
    width: 548px;
    height: 326px;
    float: left;
}

.deco{
    width: 200px;
    height:200px;
}

.cabecalho{
    background-position: center;
    text-align: right;
    font-family: 'Handjet', cursive;
    font-size: 30px;
    height: auto;
    width: auto;
    border-color: aliceblue;
    border-style: ridge;
    border-width: 15px;
    color:rgb(20, 12, 73);
    background-color: rgb(158, 96, 182);
}

.blocodetexto{
    font-family: 'Handjet', cursive;
    float: right;
    text-align: center;
    font-size: 25px;
    color:rgb(20, 12, 73);
    border-color: aliceblue;
    border-style: ridge;
    border-width: 15px;
    background-color: rgb(158, 96, 182);
}

body{
    margin:10px;
    background-image : url(5419654.jpg);
    background-size: 300px;
}

.intro{
    font-family: 'Handjet', cursive;
    color:rgb(20, 12, 73);
    float: center;
    text-align: center;
    font-size: 60px;
}