.radia{
    width: 548px;
    height: auto;
    float: left;
}

.deco{
    width: 300px;
    height:300px;
    float: left;
}

.cabecalho{
    background-color: rgb(38, 167, 167);
    background-position: center;
    text-align: right;
    font-family: 'Handjet', cursive;
    font-size: 30px;
}

p{
    font-family: 'Ubuntu', sans-serif;

}